[submodule "src/inSituML/train_khi_AE_refactored/ChamferDistancePytorch"]
	path = src/inSituML/train_khi_AE_refactored/ChamferDistancePytorch
	url = https://github.com/ThibaultGROUEIX/ChamferDistancePytorch
